<template lang="pug">
q-page.flex.flex-center(padding)
	#bg
		img(src="../assets/images/nyc-city-hall-station.jpg" style="filter: contrast(40%);")
	.hero-text
		.text-h4.q-mb-sm A Pantheon of Devils
		.text-h5.q-mt-sm  Nihil Humani a Me Alienum Puto
		.fit.row.q-gutter-md.justify-center.q-mt-lg
			q-btn(label='Ethos' color='primary' @click='fullHeight = true')
			q-btn.q-ml-md(color="secondary") Pathos
			q-btn.q-ml-md(color="negative") Logos


		q-dialog(v-model='fullHeight' full-height)
			q-card.column.full-height(style="width: 300px;")
				q-img(src='../assets/images/nyc-more-chrysler.jpg')
					.absolute-bottom
						.text-h6 Drive Time
						.text-subtitle2 Verticality   
				q-card-actions
					q-btn(color="secondary" @click='fullHeight = false') Leap
					q-btn(color="negative" @click='fullHeight = false') Weep
</template>




<script>
export default {
	data () {
		return {
			small: false,
			medium: false,
			fullWidth: false,
			fullHeight: false
		}
	}
}
</script>
