  <template lang="pug">
  q-page.flex.flex-center(padding)
    #bg
      img(src="../assets/images/nyc-42nd.jpg" style="filter: contrast(40%);")
    .hero-text
      .text-h4.q-mb-sm Terrible Tumult
      .text-h5.q-mt-sm  Turbulent Unrest of Multitudes
      .fit.row.q-gutter-md.justify-center.q-mt-lg
        q-btn(label='Ethos' color='primary' @click='fullHeight = true')
        q-btn.q-ml-md(color="secondary") Pathos
        q-btn.q-ml-md(color="negative") Logos


      q-dialog(v-model='fullHeight' full-height)
        q-card.column.full-height(style="width: 300px;")
          q-img(src='../assets/images/nyc-more-chrysler.jpg')
            .absolute-bottom
              .text-h6 Lofty Modernism
              .text-subtitle2 Gotham Skyline
          q-card-actions
            q-btn(color="secondary" @click='fullHeight = false') High Steel
            q-btn(color="negative" @click='fullHeight = false') Riveting 
  </template>




  <script>
  export default {
    data () {
      return {
        small: false,
        medium: false,
        fullWidth: false,
        fullHeight: false
      }
    }
  }
  </script>
