@import url('https://fonts.googleapis.com/css?family=Material+Icons|News+Cycle');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

$primary   : #607d8b;
$secondary : #848482;
$accent    : #75816b;

$dark      : #1D1D1D;

$positive  : #75816b;
$negative  : #997570;
$info      : #6699cc;
$warning   : #FFCC00;

$typography-font-family : 'News Cycle', '-apple-system', 'Helvetica Neue', Helvetica, Arial, sans-serif;
