    <template lang="pug">
q-layout(view='lHh Lpr lFf')
  q-header(elevated)
    q-toolbar
      q-btn(flat dense round icon='menu' aria-label='Menu' @click='leftDrawerOpen = !leftDrawerOpen')
      q-toolbar-title 
        i.fas.fa-sun.fa-2x.q-mr-md
        | Quisling Anarchy
          
      div 
        i.material-icons.md-24.q-mr-md toys
        | Engenho Novo v{{ $q.version }}
  q-drawer(v-model='leftDrawerOpen' show-if-above bordered content-class='bg-grey-1')
    q-list
      q-item-label.text-grey-8(header).
        
        Vínculos de Amizade
        
      EssentialLink(v-for='link in essentialLinks' :key='link.title' v-bind='link').
        
        
  q-page-container
    router-view.
      
      
</template>

<script>
import EssentialLink from 'components/EssentialLink.vue'

const linksData = [
  {
    title: 'In Principio',
    caption: 'Primordial Chaos',
    icon: 'school',
    link: '/'
  },
  {
    title: 'Nihilism',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'code',
    link: '/nihilism'
  },
  {
    title: 'Misrule',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'autorenew',
    link: '/misrule'
  },
  {
    title: 'Insurrection',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'smoking_rooms',
    link: '/insurrection'
  },
  {
    title: 'Chaosmos',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'rss_feed',
    link: '/chaos'
  },
  {
    title: 'Mobocracy',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'local_dining',
    link: '/mobocracy'
  },
  {
    title: 'Mutiny',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'beach  _access',
    link: '/mutiny'
  },
  {
    title: 'Pandemonium',
    caption: 'Community Quasar projects',
    icon: 'pool',
    link: '/pandemonium'
  },
  {
    title: 'Tumult',
    caption: 'Nothing from nothing leaves nothing',
    icon: 'rowing',
    link: '/tumult'
  }
];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      leftDrawerOpen: false,
      essentialLinks: linksData
    }
  }
}
</script>

<style

i {
  vertical-align: middle !important;
}

</style>